.parrafo{
    border: 1px solid blue;
    text-align: center;
    margin: 10px;
    padding: 15px;
    color: blueviolet;
    font-size: larger;
    font-weight: 500;
}
  div{
    border:  2px solid brown;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    text-align: center;
    margin: 20px;
    background-color: aliceblue;
  }

  span ul li{
    color: crimson;
    font-style: oblique;
    font-weight: 700;
    padding: 20px;
  }

  #boton{
    background-color: blueviolet;
    border: none;
    font-size: 30px;
    width: 500px;
    padding: 20px;
    color: black;
  }
   .texto{
      color: brown;
  }

  .link{
    color: blue;
  }

  a:hover{
      color: chartreuse;
  }